<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Schwarzkopfb's Personal Home Page</title>

        <style>{{{ spinnerCss }}}</style>
        <script>{{{ spinnerJs }}}</script>
    </head>

    <body>
        <div id="app"></div>

        <div id="spinner">
            <div class="doubleBounce">
                <div class="hexagon"></div>
                <div class="hexagon"></div>
            </div>
        </div>
    </body>
</html>
