@import './spinner';

@import (css) url('https://fonts.googleapis.com/css?family=Varela+Round');
@import './utils';
@import './theme';
@import './constants';
@import './component-fade';

body, div, span, h1, h2, h3, h4, h5, h6, p, em, a, img, strong, sub, b, u, i, ul, li, form, label {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

#main {
  margin: 0;
  padding: 0;
  background: #fff;
  text-align: center;
  font-size: 19px;
  font-family: 'Varela Round', sans-serif;
  color: #7c7c7c;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow-y: visible;

  .theme('orange', @orange);
  .theme('purple', @purple);
  .theme('green', @green);
  .theme('blue', @blue);
  .theme('red', @red);
  .theme('404', @red);

  header {
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    min-height: 92px;

    background: #fffffa;
    color: #484848;

    .vendor(box-shadow, 0 0 30px #aaa);

    .background {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -200px;
      margin-left: -500px;
      width: 1000px;
      height: 420px;

      .transition(background-color .3s);

      .title {
          position: absolute;
          overflow: hidden;
          z-index: 108;
          width: 800px;
          text-align: center;
          left: 50%;
          font-size: 90px;
          transform-origin: center;

          .transition(color .3s);

          &.title-top {
              top: 70px;
              height: 72px;
              margin-left: -450px;
          }

          &.title-bottom {
              top: 250px;
              line-height: 0px;
              height: 55px;
              margin-left: -400px;
          }
      }

      .tagline {
          z-index: 108;
          position: absolute;
          font-size: 24px;
          width: 800px;
          text-align: center;
          left: 50%;
          margin-left: -430px;
          top: 182px;
          font-weight: bold;
          background: #fffffa;

          .transition(color .3s);
      }

      .menu-foreground {
        z-index: 102;
        margin: 0;
        padding: 0;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-position: center center;
        background-repeat: no-repeat;
        background-image: @cover-url;

        line-height: 395px;

        text-align: left;

        list-style-type: none;

        transform-origin: center;

        li {
          display: inline-block;
          position: relative;
          margin-right: 35px;
          font-weight: bold;

          &:first-child {
            margin-left: 230px;
          }

          a {
            font-size: 20px;
            background: #fffffa;
            text-decoration: none;

            .transition(color .3s);

            &:hover {
              color: #7c7c7c;
            }
          }
        }
      }
    }

    .transition(border-bottom-color .3s)
  }

  .content {
    min-height: 100%;

    .vendor(box-sizing, border-box);

    margin: auto;
    width: 60%;
    max-width: 800px;

    h1 {
      font-size: 48px;
      margin: 0 0 35px;
      color: #333;
      text-transform: uppercase;
    }

    h2 {
      &:before {
        content: '— ';
      }

      &:after {
        content: ' —';
      }

      font-size: 30px;
      line-height: 30px;
      margin: 0 0 60px;
      color: #343434;
      text-transform: uppercase;
    }

    h3 {
      color: #b2b2b2;
      font-size: 22px;
      margin: -25px 0 60px 0;
      text-transform: uppercase;
    }

    p {
      text-align: justify;
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 60px;
    }

    hr {
      max-width: 800px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #eee;
      overflow: hidden;
    }

    hr {
        margin: 0 auto 60px auto;
    }
  }

  footer {
    width: 500px;
    border-radius: 5px;
    margin: 60px auto 20px auto;
    padding-bottom: 10px;
    padding-top: 20px;
    line-height: 20px;
    background: rgba(255, 255, 255, .65);
    font-size: 14px;

    .transition(color .3s);

    a {
      color: #7c7c7c;
    }

    .donate {
      margin-top: 10px;
    }
  }
}
